<div class="container">
  <!-- <form class="loginForm" (ngSubmit)="submit()" [formGroup]="loginForm">
        <input type="email" placeholder="Enter your email" formControlName="email">
        <input type="password" placeholder="Enter Password" formControlName="password">
        <button type="submit">Submit</button>
        <a routerLink="/users/register" routerLinkActive="active">Don't have an account ? SignUp here</a>
        
    </form> -->
  <form [formGroup]="loginForm">
    <!-- Email input -->
    <div class="container my-4 formContainer">
      <div class="row-12">
        <div class="form-outline mb-4">
          <input
            type="text"
            id="form2Example1"
            class="form-control"
            formControlName="username"
            placeholder="Enter Username"
          />
          <div
              class="text text-danger"
              *ngIf="
                loginForm.get('username')?.invalid &&
                (loginForm.get('username')?.dirty ||
                  loginForm.get('usrname')?.touched)
              "
            >
              <span *ngIf="loginForm.get('username')?.errors?.['required']"
                >Email is required.</span
              >
             
            </div>
            
          
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input
            type="password"
            id="form2Example2"
            class="form-control"
            placeholder="Password"
            formControlName="password"
          />
          <div
              class="text text-danger"
              *ngIf="
                loginForm.get('password')?.invalid &&
                (loginForm.get('password')?.dirty ||
                  loginForm.get('password')?.touched)
              "
            >
              <span *ngIf="loginForm.get('password')?.errors?.['required']"
                >Password is required.</span
              >
              <span *ngIf="loginForm.get('password')?.errors?.['minlength']"
                >Minimum 8 characters!</span
              >
            </div>
        </div>

        

        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4 w-100" (click)="submit()">
            Sign in
        </button>

        <!-- Register buttons -->
        <div class="text-center">
          <p>
            Not a member?
            <a routerLink="/users/register" routerLinkActive="active"
              >Register</a
            >
          </p>
         



        </div>
      </div>
    </div>
  </form>
</div>
<router-outlet></router-outlet>
