<header>
  <nav class="navbar bg-body-tertiary">
    <div class="container container_nav">
      <div class="d-flex">
        <a routerLink="" routerLinkActive="active">
            <img
            src="https://png.pngtree.com/png-clipart/20190925/original/pngtree-black-sticky-line-drawing-online-supermarket-convenience-store-e-commerce-online-png-image_4892039.jpg"
            alt=""
            width="50px"
          />
        </a>
       
        <div class="logo-txt">
          <div class="h4"><a routerLink="" routerLinkActive="active" style="text-decoration: none;color: black;">Cybercom Creation</a></div>
          <div class="subHead"><a routerLink="" routerLinkActive="active" style="text-decoration: none; color: gray;">GROCERY SHOPPING APP</a></div>
        </div>

      </div>
      <div class="d-flex">
        
        <form class="d-flex" role="search">
          
          <div class="col-4 divider">
            <div class="dropdown">
              <a class="btn dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                All Categories
              </a>
            
              <ul class="dropdown-menu">
                <li><a class="dropdown-item">Vagitables</a></li>
                <li><a class="dropdown-item">Another action</a></li>
                <li><a class="dropdown-item">Something else here</a></li>
              </ul>
            </div> 
          </div>
          <div class="col-6 search_input">
            <input
            class="form-control"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          
          </div>
          <div class="col">
            <button class="btn search_btn" type="submit"><i class="bi bi-search"><img src="../../assets/search.svg" alt=""></i></button>
          </div>
          <div class="container">
            <button class="btn btn-danger" type="submit" routerLink="users/login" routerLinkActive="active" *ngIf="!user">Login</button>
          </div>
         
        </form>
        

      </div>

      <div class="cart_contain" routerLink="/catalog/cart" routerLinkActive="active">
        <div><img src="../../assets/cart4.svg" alt="" height="30px"></div>
        <div class="cart">
          <div>My Cart</div>
          <div>{{subtotal()|currency:'INR'}}({{cartProducts.length}})</div>
        </div>
      </div>
      
      <div class="dropdown">
        <a class="btn dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Meet Koradiya
        </a>
      
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/users">Profile</a></li>
          <li><a class="dropdown-item" href="#">Orders</a></li>
          <li><a class="dropdown-item" href="#">Setting</a></li>
        </ul>
      </div>
       
      
    </div>
   
  </nav>
</header>

<router-outlet></router-outlet>
