#gro-header [_nghost-gnv-c61]{
    z-index : 10001 !important;
}


[_nghost-gnv-c61] {
    z-index: 5;
}

.logo-txt{
    display: flex;
    flex-direction: column;
}
.logo-txt div{
    line-height: 16px;
}

.subHead{
    color: grey;
}
.container_nav{
    align-items: center;
    justify-items: center;
}
.divider select{

    border-right: 2px  solid rgb(179, 179, 179);
    border-radius: 0px;
}
.search_input input{
    border:none;
    border-radius: 0px;
}

.cart_contain{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.cart{
    display: flex;
    flex-direction: column;
    line-height: 16px;
}
.search_btn{
    background-color: rgb(177, 177, 177);
    width: 45px;
    border-radius: 0px;
}
.navbar{
    z-index: 100;
}