<!-- Display the products that belong to the selected category -->

<div class="card border-0 text-black">
  <img
    src="/assets/grocery_background.jpg"
    alt=""
    class="card-img w-100 h-auto opacity-25"
    height="100"
  />
  <div
    class="card-img-overlay text-center my-3 d-flex justify-content-center align-items-center"
  >
    <div>
      <!-- <p id="product_list_text"class="card-title fs-1 fw-bolder" *ngIf="product_item;else not_category">{{ product_item }}</p> -->
      <ng-template #not_category>
        <p id="product_list_text" class="card-title fs-1 fw-bolder">
          Grocery Products
        </p>
      </ng-template>
    </div>
  </div>
</div>
<div *ngIf="isLoading; else not_loading">
    <app-loader></app-loader>
</div>
<ng-template #not_loading> 
  <div class="container" *ngFor="let item of filteredItem">
    <div class="row">
      <div class="col-lg-4">
        <img src="../../../../../assets/tata_salt.jpg" class="img-fluid rounded-start" alt="..." />
      </div>
      <div class="col-lg-6 mt-4">
        <div class="card-body">
          <h5 class="card-title">
            <u>{{ item.title }}</u>
          </h5>
          <p class="card-text"></p>
          <small
            >MRP:
            <small class="text-decoration-line-through">{{
              item.amount | currency : "INR" : "Rs."
            }}</small></small
          >
          <div class="fw-bolder">Discount Price:{{item.discount_amount}}</div>
          <div class="fw-bolder">total Price:{{item.amount}}</div>
          <div class="mt-3">
            <div class="btn-group me-4" role="group">
              <input
                type="number"
                class="form-control w-10"
                name="quantity"
                id="quantity"
                style="width: 50px"
                [(ngModel)]="fromInput"
              />
            </div>
            <button
              type="button"
              class="btn btn-outline-success btn-transparent"
              (click)="ADDCart(item)"
            >
              Add to Cart
            </button>
            <p>{{ QuantityErrMsg }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3 class="mt-2 mb-0">{{ item.name }}</h3>
        <hr class="mt-1 mb-1" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h4>About the Product</h4>
        <p>
          Desh ki Sehat, Desh ka Namak! Now celebrating 40 years of trust, Tata
          Salt has pioneered India's largest vacuum evaporation technology.
          Untouched by hand, Tata Salt offers an assurance of lodine. With vacuum
          evaporation technology, Tata namak offers a hygienic alternative to your
          regular table salt. It contains the requisite amount of iodine which is
          an essential dietary nutrient for humans. lodine is required for normal
          growth, thyroid, and brain function. Add the goodness of Tata Salt to
          your dietary intake and make your meals delicious and nourishing.
        </p>
        <p>Storage Instructions: Store in a cool and dry place.</p>
        <p>
          *It is generally accepted that lodine helps in the mental development of
          children.
        </p>
      </div>
    </div>
  </div>
</ng-template>
