<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <app-profile-sidebar></app-profile-sidebar>
        </div>
        <div class="col mx-5 d-flex justify-content-center">
            <div class="g-1 m-lg-5 d-flex justify-content-center">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title fs-5"><span class="text-success">Default Address:</span> Office</h5>
                      <p class="card-text fs-6">B-305, The First, B/H Keshavbaug, Vastrapur, Ahmedabad, Gujarat 380015</p>
                      <div class="text-center card-footer bg-transparent border-0">
                        <button class="btn btn-outline-dark">DELIVER HERE</button>
                        <button class="btn btn-outline-transparent"><img src="https://img.icons8.com/cute-clipart/32/null/delete-forever.png"/></button>
                        <button class="btn btn-outline-transparent"><img src="https://img.icons8.com/cute-clipart/32/null/pencil.png"/></button>
                      </div>
                    </div>
                    
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title fs-5">Home</h5>
                      <p class="card-text fs-6">B-305, The First, B/H Keshavbaug, Vastrapur, Ahmedabad, Gujarat 380015</p>
                      <div class="text-center card-footer bg-transparent border-0">
                          <button class="btn btn-outline-dark">DELIVER HERE</button>
                          <button class="btn btn-outline-transparent"><img src="https://img.icons8.com/cute-clipart/32/null/delete-forever.png"/></button>
                          <button class="btn btn-outline-transparent"><img src="https://img.icons8.com/cute-clipart/32/null/pencil.png"/></button>
                        </div>
                    </div>
                    
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
       
                    <div class="card-body">
                      <h5 class="card-title fs-5">Home</h5>
                      <p class="card-text fs-6">B-305, The First, B/H Keshavbaug, Vastrapur, Ahmedabad, Gujarat 380015</p>
                      <div class="text-center card-footer bg-transparent border-0">
                        <button class="btn btn-outline-dark">DELIVER HERE</button>
                        <button class="btn btn-outline-transparent"><img src="https://img.icons8.com/cute-clipart/32/null/delete-forever.png"/></button>
                        <button class="btn btn-outline-transparent"><img src="https://img.icons8.com/cute-clipart/32/null/pencil.png"/></button>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
    </div>
</div>