<div class="container mt-3">
  <div class="row">
    <div class="col-md-3">
      <app-profile-sidebar></app-profile-sidebar>
    </div>
    <div class="col">
      <form class="form" [formGroup]="address">
       
        <div class="form-group col">
          <label for="inputAddress">Address</label>
          <input
            type="text"
            class="form-control"
            id="inputAddress"
            placeholder="1234 Main St"
            formControlName="address_1"
          />
          <div *ngIf="address.get('address_1')?.invalid && (address.get('address_1')?.touched||address.get('address_1')?.dirty)">
            <span class="text text-danger" *ngIf="address.get('address_1')?.errors?.['required']">
              Enter adderess 
            </span>
          </div>
        </div>
        <div class="form-group col">
          <label for="inputAddress2">Address 2</label>
          <input
            type="text"
            class="form-control"
            id="inputAddress2"
            placeholder="Apartment, studio, or floor"
            formControlName="address_2"
          />
          <div *ngIf="address.get('address_2')?.invalid && (address.get('address_2')?.touched||address.get('address_1')?.dirty)">
            <span class="text text-danger" *ngIf="address.get('address_2')?.errors?.['required']">
              Enter adderess 
            </span>
          </div>
        </div>
        <div class="form-group col">
          <label for="inputArea">Area</label>
          <input
            type="text"
            class="form-control"
            id="inputArea"
            placeholder="Area or Society"
            formControlName="area"
          />
          <div *ngIf="address.get('area')?.invalid && (address.get('area')?.touched||address.get('area')?.dirty)">
            <span class="text text-danger" *ngIf="address.get('area')?.errors?.['required']">
              Enter area name
            </span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="inputCountry">Country</label>
            <select id="inputCountry" class="form-control" formControlName="country">
              <option selected disabled hidden>--country--</option>
              <option>India</option>
            </select>
            <div *ngIf="address.get('country')?.invalid && (address.get('country')?.touched||address.get('country')?.dirty)">
              <span class="text text-danger" *ngIf="address.get('country')?.errors?.['required']">
                select country ! 
              </span>
            </div>
          </div>
          <div class="form-group col">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control" formControlName="state">
              <option selected disabled hidden>--state--</option>
              <option>Gujarat</option>
            </select>
            <div *ngIf="address.get('state')?.invalid && (address.get('state')?.touched||address.get('state')?.dirty)">
              <span class="text text-danger" *ngIf="address.get('state')?.errors?.['required']">
                Enter adderess 
              </span>
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity" formControlName="city" />
            <div *ngIf="address.get('city')?.invalid && (address.get('city')?.touched||address.get('city')?.dirty)">
              <span class="text text-danger" *ngIf="address.get('city')?.errors?.['required']">
                Enter city name
              </span>
            </div>
          </div>
          <div class="form-group col">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip" formControlName="zip" />
            <div *ngIf="address.get('zip')?.invalid && (address.get('zip')?.touched||address.get('zip')?.dirty)">
              <span class="text text-danger" *ngIf="address.get('zip')?.errors?.['required']">
                Enter postal code
              </span>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="form-group col">
            <label for="inputLandmark">Landmark</label>
            <input
              type="text"
              class="form-control"
              id="inputLandmark"
              placeholder="Landmark"
              formControlName="landmark"
            />
          </div>
          <div class="form-group col">
            <label for="inputTag">Tag</label>
            <select id="inputTag" class="form-control" formControlName="tag">
              <option selected disabled hidden>--Tag--</option>
              <option value="home">Home</option>
              <option value="work">Work</option>
              <option value="other">Other</option>
            </select>
            <div *ngIf="address.get('tag')?.invalid && (address.get('tag')?.touched||address.get('tag')?.dirty)">
              <span class="text text-danger" *ngIf="address.get('tag')?.errors?.['required']">
                Select tag
              </span>
            </div>
          </div>
        </div>
        
        
      </form>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary" (click)="addAddress()">Save</button>
    </div>
   
  </div>
</div>
