<div class="container mt-3">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-3">
      <div class="col" *ngFor="let category of categoriesFormDB">
        <div class="card bg-white p-2 m-2">
          <img
            class="rounded mx-auto d-block"
            src="../../../../../assets/category.jpg"
            alt=""
            [routerLink]="['/catalog/products-list/', category.id]"
            width="120"
            height="120"
          />
          <div class="card-body text-center">
            <h4>{{ category.title }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>