<nav class="sidebar-nav">
  <ul class="nav flex-column">
  
    <li class="nav-item">
      <a class="nav-link active" >Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/users/profile/manageaddress" routerLinkActive="active">Manage Address</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/users/profile/changepass" routerLinkActive="active">Change Password</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Logout</a>
    </li>
   
  </ul>
</nav>
