<div class="root">
  <div class="hero">
    <h1>Welcome to MyGroceryApp</h1>
    <p>Get all your grocery needs delivered right to your doorstep.</p>
    <button>Shop Now</button>
  </div>

  <div class="featured-products">
    <h2>Featured Products</h2>
    <app-product-list></app-product-list>
  </div>

  <div class="limitedoffer">
    <div class="content">
      <h3 class="title">Limited Time Offer</h3>
      <h1 class="heading">Speacial Edition</h1>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi itaque
        totam expedita ea, temporibus adipisci perferendis. Ea qui et explicabo
        magni saepe illum recusandae quod provident eligendi, repudiandae illo
        odio.
      </p>
      <h3 class="title">Buy This T-shirt At 20% Discount, Use Code OFF20</h3>
      <button id="offerbtn">SHOP NOW</button>
    </div>
  </div>

  <div class="key_points">
    <div class="key_points_items worldwide">
        
        Worldwide Shipping
    </div>
    <div class="key_points_items quality">
        Best Quality
    </div>
    <div class="key_points_items bestoffers">
        Best Offers
    </div>
    <div class="key_points_items payment">
        Secure Payment
    </div>
  </div>
</div>
