<div class="container-fluid position-relative">
  <div class="col">
    <button
      class="btn btn-success my-3"
      type="button"
      routerLink="/allcategory"
      routerLinkActive="avtive"
    >
      <img src="../../assets/grid.svg" alt="" style="filter: invert(100%)" />
      Browse All Categories
    </button>
  </div>
  <div class="col position-relative">
    <img src="../../../../assets/cart_img.jpg" alt="" class="img-fluid" />
    <h1 class="h1 position-absolute top-50 start-50 translate-middle">
      Checkout
    </h1>
  </div>
  <div class="container d-flex flex-column align-items-center">
    <div style="max-width: 500px">
      <div class="text addTitle">Select Delivery Address</div>
      <div
        class="form-check"
        *ngFor="let add of userAddresses"
        style="background-color: rgb(240, 240, 240); border-radius: 8px"
      >
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          (input)="getAddressId(add.id)"
        />
        <label class="form-check-label text-muted" for="flexRadioDefault1">
          <div>{{ add.address_line_1 }}</div>
          <div>{{ add.address_line_2 }}</div>
          <div>{{ add.area }},</div>
          <div>{{ add.city }}-{{ add.postal_code }},</div>
          <div>{{ add.state }},{{ add.country }}</div>
          <div>{{ add.tag }}</div>
        </label>
      </div>
      <br />
      <div class="text" style="margin-bottom: 8px">
        By placing an order you agree our <br />
        <strong>Terms</strong> and <strong>Conditions</strong>
      </div>
      <div class="text" style="margin-bottom: 8px">
        Payment Method:<strong>Cash On Delivery</strong>
      </div>
      <div class="text" style="margin-bottom: 8px">
        Grand Total:<strong>{{ grandTotal }}</strong>
      </div>
      <div class="d-flex">
        <button
          class="btn btn-secondary col-md-6"
          style="
            background-color: rgb(222, 222, 222);
            color: black;
            margin-right: 8px;
            border:none;
          "
        >
          Cancel
        </button>
        <button
          class="btn btn-success w-100"
          routerLink="/users/orderconfirm"
          routerLinkActive="active"
        >
          Place Order
        </button>
      </div>
    </div>
  </div>
</div>
