<!-- Footer -->
<footer
  class="text-center text-lg-start bg-tertiary text-muted"
  style="margin-top: 80px"
>
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <!-- <a href="" class="me-4 link-secondary">
        <i class="fab fa-facebook"></i>
        
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-twitter"></i>
       
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-github"></i>
      </a> -->

      <ul class="wrapper">
        <a
          class="link-secondary"
          href="https://www.facebook.com/dutt.mistry.37"
        >
          <li class="icon facebook">
            <span class="tooltip">Facebook</span>
            <span><i id="hover" class="fab fa-facebook-f"></i></span>
          </li>
        </a>
        <a class="link-secondary" href="https://twitter.com/">
          <li class="icon twitter">
            <span class="tooltip">Twitter</span>
            <span><i class="fab fa-twitter"></i></span>
          </li>
        </a>
        <a class="link-secondary" href="https://www.instagram.com/">
          <li class="icon instagram">
            <span class="tooltip">Instagram</span>
            <span><i class="fab fa-instagram"></i></span>
          </li>
        </a>
        <a class="link-secondary" href="https://github.com/Dutt9771">
          <li class="icon github">
            <span class="tooltip">Github</span>
            <span><i class="fab fa-github"></i></span>
          </li>
        </a>
        <a class="link-secondary" href="https://www.youtube.com/">
          <li class="icon youtube">
            <span class="tooltip">Youtube</span>
            <span><i class="fab fa-youtube"></i></span>
          </li>
        </a>
      </ul>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h4 class="text-capitalize fw-bold mb-4">
            <img src="../../assets/logo.png" alt="" />
            Cybercom Creation
          </h4>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Products</h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
          <p>
            <a
              routerLink="/catalog/categories"
              routerLinkActive="active"
              class="text-reset"
              >Category</a
            >
          </p>
          <p>
            <a
              routerLink="/users/login"
              routerLinkActive="active"
              class="text-reset"
              >Login</a
            >
          </p>
          <p>
            <a
              routerLink="/users/register"
              routerLinkActive="active"
              class="text-reset"
              >Registration</a
            >
          </p>
          <p>
            <a
              routerLink="front/contact-us"
              routerLinkActive="active"
              class="text-reset"
              >Contact Us</a
            >
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <a
            class="link-secondary text-decoration-none"
            href="https://www.google.com/maps/place/Cybercom+Creation/@23.0250737,72.4572358,13z/data=!4m6!3m5!1s0x395e84b45d8ccb8f:0x90291bba47e8c92a!8m2!3d23.0305417!4d72.530421!16s%2Fg%2F11cs16m6px"
            ><p><i class="fas fa-home me-3"></i>Cybercom,Ahmedabad</p></a
          >
          <a
            class="link-secondary text-decoration-none"
            href="koradiyameet029@gmail.com"
            ><p>
              <i class="fas fa-envelope me-3"></i>
              koradiyameet029@gmail.com
            </p></a
          >
          <a
            class="link-secondary text-decoration-none"
            href="tel:+917284021006"
            ><p><i class="fas fa-phone me-3"></i> +91 7284021006</p></a
          >
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025)">
    © 2023 Copyright:
    <a class="text-reset fw-bold" [routerLink]="['']">Cybercom Creation</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
