<footer class="footer">
  <div class="d-flex footer_container">
    <div class="row">
      
        <div class="d-flex">
          <a routerLink="" routerLinkActive="active">
            <img
              src="https://png.pngtree.com/png-clipart/20190925/original/pngtree-black-sticky-line-drawing-online-supermarket-convenience-store-e-commerce-online-png-image_4892039.jpg"
              alt=""
              width="50px"
            />
          </a>

          <div class="logo-txt">
            <div class="h4">
              <a
                routerLink=""
                routerLinkActive="active"
                style="text-decoration: none; color: black"
                >Cybercom Creation</a
              >
            </div>
            <div class="subHead">
              <a
                routerLink=""
                routerLinkActive="active"
                style="text-decoration: none; color: gray"
                >GROCERY SHOPPING APP</a
              >
            </div>
          </div>
        </div>
      
      <div class="container contact" style="margin-top: 20px; line-height: 30px;">
        <div class="contact_detail">
          <img src="../../assets/geo-alt-fill.svg" alt="">
          <strong style="margin-left: 8px;">Address: </strong>1762 School House Road
        </div>
        <div class="contact_detail">
          <img src="../../assets/telephone-fill.svg" alt="">
          <strong style="margin-left: 8px;">Call Us: </strong>1233-777
        </div>
        <div class="contact_detail">
            <img src="../../assets/envelope.svg" alt="">
            <strong style="margin-left: 8px;">Email: </strong>groceyish@contact.com
        </div>
        <div class="contact_detail">
          <img src="../../assets/clock.svg" alt="" style="color:green;">
          <strong style="margin-left: 8px;">Work hours: </strong>8:00 20:00, Sunday Thursday
        </div>
      </div>
      
    </div>
  </div>
  <hr />
  <p class="text-muted">© 2023 GroceryStore. All Rights Reserved.</p>
</footer>
