nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav ul li{
    margin-right: 20px;
    list-style: none;
    font-size: 20px;
    margin-top: 12px;
 
}
nav ul li a{
    text-decoration: none;
    color: rgb(241, 232, 232);
    font-weight: bold;
}
header{
    background-color: rgb(85, 131, 190);
    height: 50px;
    width: 100%;
    
    
}



*{
    margin: 0;
    padding: 0;
}


.left{
    display: flex;
    flex-direction: row;

}

.left a{
    
}
.right{
    display: flex;
    flex-direction: row;
}