<div class="root">
  <div class="row mx-5 my-3">
    <div class="col">
      <button
        class="btn btn-success"
        type="button"
        routerLink="/catalog/categories"
        routerLinkActive="avtive"
      >
        <img src="../../assets/grid.svg" alt="" style="filter: invert(100%)" />
        Browse All Categories
      </button>
    </div>
    <div class="col">
      <img
        src="../../assets/telephone-fill.svg"
        alt=""
        style="margin-left: 250px"
      /><strong style="color: rgb(23, 159, 23)">1233-7777 </strong> 24/7 support
      center
    </div>
  </div>

  <div class="bg">
    <div class="container text_container">
      <div class="h1 heading">Don’t miss our daily amazing deals.</div>
      <div class="save">Save up to 60% off on your first order</div>
    </div>
  </div>

  <!-- ------------------------------------------------------------------------------------------------- -->

  <div class="container explore_cat">
    <div class="title">
      <div class="label">
        <h1>Explore Categories</h1>
      </div>

      <ul class="nav navbar">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Vegetables</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Fruits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Coffe & teas</a>
        </li>
      </ul>
    </div>

    <app-category></app-category>

    <!-- --------------------------------------------------------------------------------------------- -->
  </div>

  <div class="container">
    <nav class="navbar navbar-expand-lg bg-body-transparent">
      <div class="container">
        <h2 class="h1">Featured Products</h2>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link">Vegetables</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Fruits</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Coffe And Teas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Meat</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <carousel
      [autoplay]="true"
      [height]="450"
      [cellWidth]="350"
      [autoplayInterval]="3000"
      [pauseOnHover]="true"
    >
      <div
        class="carousel-cell"
        *ngFor="let product of products; let i = index"
      >
        <div class="card bg-transparent p-2 m-2">
          <img
            src="{{ product.image }}"
            class="img-fluid h-400"
            alt=""
            [routerLink]="['/catalog/product_details', product.id]"
          />
          <div class="card-body bg-body-transparent text-center mb-2">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text mb-2 mt- 2">{{ product.description }}</p>
            <p class="card-text">{{ product.price | currency }}</p>
            <button
              type="button"
              class="btn btn-danger"
              (click)="addToCart(product.id)"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </carousel>
  </div>

  <!-- <app-category-products></app-category-products> -->

  <div class="key_points">
    <div class="key_points_items worldwide">
      <img
        src="https://websitedemos.net/brandstore-02/wp-content/uploads/sites/150/2018/12/globe-free-img.png"
        alt="image"
      />
      <h3>Worldwide Shipping</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, ex?</p>
    </div>
    <div class="key_points_items quality">
      <img
        src="https://websitedemos.net/brandstore-02/wp-content/uploads/sites/150/2018/12/quality-free-img.png"
        alt=""
      />
      <h3>Best Quality</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
    <div class="key_points_items bestoffers">
      <img
        src="https://websitedemos.net/brandstore-02/wp-content/uploads/sites/150/2018/12/tag-free-img.png"
        alt=""
      />
      <h3>Best Offers</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
    <div class="key_points_items payment">
      <img
        src="https://websitedemos.net/brandstore-02/wp-content/uploads/sites/150/2018/12/quality-free-img.png"
        alt=""
      />
      <h3>Secure Payments</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum,
        aliquid!
      </p>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->
