<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>About Us</h4>
          <p>We are an online grocery store that offers a wide range of products at affordable prices. Our goal is to make grocery shopping more convenient and accessible for everyone.</p>
        </div>
        <div class="col-md-4">
          <h4>Contact Us</h4>
          <p>123 Main St, Anytown USA</p>
          <p>Phone: (555) 555-5555</p>
          <p>Email: info@grocerystore.com</p>
        </div>
        <div class="col-md-4">
          <h4>Connect With Us</h4>
          <ul class="social-media">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <hr>
      <p class="text-muted">© 2023 GroceryStore. All Rights Reserved.</p>
    </div>
  </footer>
  
