
<!-- <div class="container">
    <div class="row">
      <div class="col" *ngFor="let category of categories" >
        <div class="card cat_card">
          <img [src]="category.image" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ category.name }}</h5>
            <p class="card-text">{{ category.quantity }} Products</p>
            <a [routerLink]="['/everything/products', category.name.toLowerCase()]"class="btn btn-primary">View Products</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  
  <carousel
    [autoplay]="true"
    [height]="300"
    [autoplayInterval]="3000"
    [pauseOnHover]="true">
    <div class="carousel-cell" *ngFor="let category of categories">
        <div class="card bg-warning-subtle p-3 m-2" [routerLink]="['/catalog/products' ,category.name.toLowerCase()]">
            <img src="{{category.image}}" alt="" width="120" height="120"/>
            <div class="card-body text-center">
                <h4>{{category.name}}</h4>

                <small>{{category.quantity}}</small>
            </div>
        </div>
        
    </div>
</carousel>
