<div class="container mt-3">
  <div class="row">
    <div class="col-md-3">
      <app-profile-sidebar></app-profile-sidebar>
    </div>

    <div class="col">
      <form [formGroup]="changePassowrd">

          <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label"
                >Current Password</label
              >
              <input
                type="text"
                class="form-control"
                id="formGroupExampleInput"
                placeholder="Example input placeholder"
                formControlName="oldpassword"
              />
            </div>
            <div class="mb-3">
              <label for="formGroupExampleInput2" class="form-label"
                >New Password</label
              >
              newpassword: new FormControl('', Validators.required),
              <input
                type="text"
                class="form-control"
                id="formGroupExampleInput2"
                placeholder="Another input placeholder"
                formControlName="newpassword"
              />
            </div>
            <div class="mb-3">
              <label for="formGroupExampleInput2" class="form-label"
                >Confirm New Password</label
              >
              <input
                type="text"
                class="form-control"
                id="formGroupExampleInput2"
                placeholder="Another input placeholder"
                formControlName="confirmpassword"
              />
            </div>
          <button type="button" class="btn btn-primary" (click)="submit()">Save</button>
      </form>
  </div>
</div>
