<div class="container mt-3">
  <div class="row">
    <div class="col-md-3">
      <app-profile-sidebar></app-profile-sidebar>
    </div>

    <div class="col">
      <form [formGroup]="changePassowrd">
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label"
            >Current Password</label
          >
          <input
            type="password"
            class="form-control"
            id="formGroupExampleInput"
            formControlName="oldpassword"
          />
          <div
            *ngIf="
              changePassowrd.get('oldpassword')?.invalid &&
              (changePassowrd.get('oldpassword')?.dirty ||
                changePassowrd.get('oldpassword')?.touched)
            "
          >
            <span
              class="text text-danger"
              *ngIf="changePassowrd.get('oldpassword')?.errors?.['required']"
            >
              Enter old password
            </span>
          </div>
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label"
            >New Password</label
          >
          <input
            type="password"
            class="form-control"
            id="formGroupExampleInput2"
            formControlName="newpassword"
          />
          <div
            *ngIf="
              changePassowrd.get('newpassword')?.invalid &&
              (changePassowrd.get('newpassword')?.dirty ||
                changePassowrd.get('newpassword')?.touched)
            "
          >
            <span
              class="text text-danger"
              *ngIf="changePassowrd.get('newpassword')?.errors?.['required']"
            >
              Enter new password
            </span>
          </div>
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label"
            >Confirm New Password</label
          >
          <input
            type="password"
            class="form-control"
            id="formGroupExampleInput2"
            formControlName="confirmpassword"
          />
          <div
            *ngIf="
              changePassowrd.get('confirmpassword')?.invalid &&
              (changePassowrd.get('confirmpassword')?.dirty ||
                changePassowrd.get('confirmpassword')?.touched)
            "
          >
            <span
              class="text text-danger"
              *ngIf="changePassowrd.get('confirmpassword')?.errors?.['required']"
            >
              Enter old password
            </span>
          </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="submit()">
          Save
        </button>
      </form>
    </div>
  </div>
</div>
