
<div class="row">
  <h3>{{category}}</h3>
  <div class="card" style="width: 18rem;" *ngFor="let product of products">
    <img src="{{product.image}}" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.description }}</p>
      <p class="card-text">{{ product.price | currency }}</p>
      <button type="button" class="btn btn-danger">Add to Cart</button>
    </div>
  </div>
</div>
  

<!-- <owl-carousel [options]="carouselOptions">
  <ng-container *ngFor="let product of products">
    <owl-carousel-o-item>
      
      <div class="product">
        <img [src]="product.image" alt="{{product.name}}">
        <h3>{{product.name}}</h3>
        <p>{{product.description}}</p>
      </div>
    </owl-carousel-o-item>
  </ng-container>
</owl-carousel> -->




