<div>
  <div class="container formContainer">
    <div>
      <h3>Register Yourself</h3>
    </div>
    <form [formGroup]="registerForm">
      <div>
        <div class="row g-3">
          <div class="col-12 col-md-6">
            <input
              type="text"
              class="form-control input"
              placeholder="First name"
              aria-label="First name"
              formControlName="firstname"
            />
            <div
              class="txt-danger"
              *ngIf="
                registerForm.get('firstname')?.invalid &&
                (registerForm.get('firstname')?.dirty ||
                  registerForm.get('firstname')?.touched)
              "
            >
              <span *ngIf="registerForm.get('firstname')?.errors?.['required']"
                >First name is required.</span
              >
            </div>
          </div>
          <div class="col-12 col-md-6">
            <input
              type="text"
              aria-label="Last name"
              class="form-control"
              placeholder="Last Name"
              formControlName="lastname"
            />
            <div
              class="txt-danger"
              *ngIf="
                registerForm.get('lastname')?.invalid &&
                (registerForm.get('lastname')?.dirty ||
                  registerForm.get('lastname')?.touched)
              "
            >
              <span *ngIf="registerForm.get('lastname')?.errors?.['required']"
                >Name is required.</span
              >
            </div>
          </div>
          <div class="col-12">
            <input
              type="email"
              class="form-control"
              id="email-address"
              placeholder="Email:name@example.com"
              formControlName="email"
            />

            <div
              class="txt-danger"
              *ngIf="
                registerForm.get('email')?.invalid &&
                (registerForm.get('email')?.dirty ||
                  registerForm.get('email')?.touched)
              "
            >
              <span *ngIf="registerForm.get('email')?.errors?.['required']"
                >email is required.</span
              >
              <span *ngIf="registerForm.get('email')?.errors?.['email']"
                >email should be valid !</span
              >
            </div>
          </div>

          <div class="col-12">
            <input
              type="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Password"
              formControlName="password"
            />
            <div
              class="txt-danger"
              *ngIf="
                registerForm.get('password')?.invalid &&
                (registerForm.get('password')?.dirty ||
                  registerForm.get('password')?.touched)
              "
            >
              <span *ngIf="registerForm.get('password')?.errors?.['required']"
                >Password is required.</span
              >
              <span *ngIf="registerForm.get('password')?.errors?.['minlength']"
                >Minimum 8 characters are required.</span
              >

              <!-- <span *ngIf="registerForm.get('password')?.errors?.['pattern']"
                >A password must be eight characters including one uppercase
                letter, one special character and alphanumeric characters</span
              > -->
            </div>
          </div>

          <div class="col-12">
            <input
              type="number"
              class="form-control"
              name="street-address"
              id="mobile"
              placeholder="Mobile No."
              formControlName="mobile"
            />

            <div
              class="txt-danger"
              *ngIf="
                registerForm.get('mobile')?.invalid &&
                (registerForm.get('mobile')?.dirty ||
                  registerForm.get('mobile')?.touched)
              "
            >
              <span *ngIf="registerForm.get('mobile')?.errors?.['required']"
                >Enter Mobile No.</span
              >
            </div>
          </div>

          <div class="col-6">
            <select
              id="country"
              name="country"
              class="form-select"
              autocomplete="country-name"
              formControlName="country"
            >
              <option value="" selected>Select country</option>
              <option>United States</option>
              <option>Canada</option>
              <option>Mexico</option>
            </select>
            <div
              class="txt-danger"
              *ngIf="
                registerForm.get('country')?.invalid &&
                (registerForm.get('country')?.dirty ||
                  registerForm.get('country')?.touched)
              "
            >
              <span *ngIf="registerForm.get('country')?.errors?.['required']"
                >Select country</span
              >
            </div>
          </div>
          <div class="col-6">
            <input
              type="text"
              class="form-control"
              placeholder="State"
              aria-label="State"
              formControlName="state"
            />
            <div
              class="txt-danger"
              *ngIf="
                registerForm.get('state')?.invalid &&
                (registerForm.get('state')?.dirty ||
                  registerForm.get('state')?.touched)
              "
            >
              <span *ngIf="registerForm.get('state')?.errors?.['required']"
                >state is required.</span
              >
            </div>
          </div>
          <div class="col-6">
            <input
              type="text"
              class="form-control"
              placeholder="City"
              aria-label="City"
              formControlName="city"
            />
            <div
              class="txt-danger"
              *ngIf="
                registerForm.get('city')?.invalid &&
                (registerForm.get('city')?.dirty ||
                  registerForm.get('city')?.touched)
              "
            >
              <span *ngIf="registerForm.get('city')?.errors?.['required']"
                >Enter city name</span
              >
            </div>
          </div>
         
          <div class="col-6">
            <input
              type="text"
              class="form-control"
              placeholder="Zip"
              aria-label="Zip"
              formControlName="zipcode"
            />
            <div
              class="txt-danger"
              *ngIf="
                registerForm.get('zipcode')?.invalid &&
                (registerForm.get('zipcode')?.dirty ||
                  registerForm.get('zipcode')?.touched)
              "
            >
              <span *ngIf="registerForm.get('zipcode')?.errors?.['required']"
                >Zipcode is required.</span
              >
              <span *ngIf="registerForm.get('zipcode')?.errors?.['minlength']"
                >zipcode should be minimium of 6 numbers</span
              >
            </div>
          </div>

          <div class="col-12">
            <input
              type="text"
              class="form-control"
              name="street-address"
              id="inputAddress"
              placeholder="Address"
              formControlName="address"
            />

            <div
              class="txt-danger"
              *ngIf="
                registerForm.get('address')?.invalid &&
                (registerForm.get('address')?.dirty ||
                  registerForm.get('address')?.touched)
              "
            >
              <span *ngIf="registerForm.get('address')?.errors?.['required']"
                >Address is required.</span
              >
            </div>
          </div>
          <div>
            <button
              type="submit"
              (click)="formHandler()"
              class="btn btn-primary w-100"
            >
              Register
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
