<div class="root">
  <div class="row mx-5 my-3">
    <div class="col" >
      <button class="btn btn-success" type="button">
        <img src="../../assets/grid.svg" alt="" style="filter: invert(100%)" />
        Browse All Categories
      </button>
    </div>
    <div class="col">
      
      <img src="../../assets/telephone-fill.svg" alt="" style="margin-left: 250px;"><strong style="color:rgb(23, 159, 23)">1233-7777 </strong> 24/7 support center
      
    </div>
  </div>

  <div class="bg">
    <div class="container text_container">
      <div class="h1 heading">Don’t miss our daily
      amazing deals.
      </div>
      <div class="save">
        Save up to 60% off on your first order
      </div>

    </div>
    
  </div>

<!-- ------------------------------------------------------------------------------------------------- -->
  
<div class="container explore_cat">
    <div class="title">
      <div class="label">
        <h1>Explore Categories</h1>
      </div> 
      
      <ul class="nav navbar">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Vegetables</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Fruits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Coffe & teas</a>
        </li>
        <li class="nav-item">
          <select name="category" #category class="form-select">
            <option value="" selected>--Select--</option>
            <option value="vagetables">vagetables</option>
            <option value="fruits">fruits</option>
          </select>
        </li>
      </ul>

    </div>
    
    <!-- <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/grocery-shopping.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../assets/hero-bg.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> -->
    
    <app-category></app-category>

    
    


<!-- --------------------------------------------------------------------------------------------- -->
</div>

  <app-category-products></app-category-products>


  


    
 

  

  <div class="key_points">
    <div class="key_points_items worldwide">
      <img
        src="https://websitedemos.net/brandstore-02/wp-content/uploads/sites/150/2018/12/globe-free-img.png"
        alt="image"
      />
      <h3>Worldwide Shipping</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, ex?</p>
    </div>
    <div class="key_points_items quality">
      <img
        src="https://websitedemos.net/brandstore-02/wp-content/uploads/sites/150/2018/12/quality-free-img.png"
        alt=""
      />
      <h3>Best Quality</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
    <div class="key_points_items bestoffers">
      <img
        src="https://websitedemos.net/brandstore-02/wp-content/uploads/sites/150/2018/12/tag-free-img.png"
        alt=""
      />
      <h3>Best Offers</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
    <div class="key_points_items payment">
      <img
        src="https://websitedemos.net/brandstore-02/wp-content/uploads/sites/150/2018/12/quality-free-img.png"
        alt=""
      />
      <h3>Secure Payments</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum,
        aliquid!
      </p>
    </div>
  </div>
</div>
<!-- <app-footer></app-footer> -->
